.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
    margin: 0 auto;
  }
  
  .heading {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  span {
    color: var(--main-color);
  }
  
  .about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-img img {
    width: 60%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
    border: 4px solid #00abf0;
    margin: 20px;
  }
  
  .about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--second-bg-color);
    border-bottom: 0.2rem solid var(--second-bg-color);
    border-left: 0.2rem solid var(--main-bg-color);
    border-right: 0.2rem solid var(--main-bg-color);
  }
  
  .about-content {
    text-align: center;
  }
  
  .about-content h3 {
    font-size: 2.6rem;
  }
  
  .about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    max-width: 80vw;
  }
  
  .btn-box.btns {
    display: inline-block;
    width: 15rem;
  }
  
  .btn-box.btns a::before {
    background: var(--second-bg-color);
  }
  